$base-font: 'Raleway', sans-serif;
$heading-font: 'Morpheus', cursive;

$primary-color: #0E1F58;
$secondary-color: #40D992;


body {
    font-family: $base-font; font-weight: 300;
    font-size: calc(10px + 0.35vw);
    color: white;
    background-color: $primary-color;
    letter-spacing: 1.44px; line-height: calc(12px + 1.05vw);
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
}

h1 {
    font-size: 1.912em;
    line-height: calc(18px + 1.8vw); /* Responsive Vertical Rhythm */
}

h2 {
    font-size: 1.616em;
    line-height: calc(18px + 1vw); /* Responsive Vertical Rhythm */
}

h3 {
    font-size: 1.471em;
    line-height: calc(18px + 0.7vw); /* Responsive Vertical Rhythm */
}

h4 { 
    font-size: 1.3em; 
}
h5 { 
    font-size: 1.243em; 
}
h6 { 
    font-size: 1.132em; 
}

h4, h5, h6 { 
    line-height: calc(18px + .2vw); /* Responsive Vertical Rhythm */
}

.jumbotron {
    background-color: transparent;
}

#drinks__home {
    background-image:
        url("/uploads/nuka-cola-bg.png"),
        url("/uploads/yoshi-1.png"),
        url("/uploads/star-wars-bg.png");
    background-position: 
        8% 31%, 
        50% 67%, 
        85% 39%;
    background-repeat: no-repeat;
}
