footer {
    background-image: url("/uploads/large-hanging-pic.jpg");
    background-repeat: no-repeat; background-position: center center; background-size: cover;
    background-color: rgba(0,0,0,0.80); background-blend-mode: overlay;
    color: white;
    h1, h2, h3, h4, h5, h6 {
        color: $secondary-color;
    }
    .list-inline li {
        padding-left: 5px; padding-right: 5px;
        a.social-icon {
            color: white;
            opacity: 0.7;
            transition: 0.5s ease-out;
            &:hover {
                color: $secondary-color;
                opacity: 1;
            }
        }   
    }
}

#footer-menu {
    li {
        padding-top: 0.25rem;
        a.text-link {
            font-weight: normal;
            text-transform: none;
        }
    }
}

.footer-form {
    padding: 1em 0px;
    display: flex;
    flex-direction: row;
    color: white;
    input {
        flex-grow: 1;
        border: none;
        background-color: rgba(255,255,255,0.07);
        color: white;
        padding: 1rem 8rem 1rem 1rem;
        &::placeholder {
            color: white;
            transition: 0.5s ease-out;
        }
        &:focus {
        outline: none;
        }
    }
    button {
        position: absolute;
        right: 3rem; bottom: 3rem;
        background-color: transparent;
        color: white;
        border: none; border-radius: 0px;
        transition: 0.5s ease-out;
        &:hover {
            color: $secondary-color;
        }
    }
}

#copyright {
    margin-top: 1.5em;
    background-color: black;
    color: white;
    a {
        color: white;
        opacity: 54%;
        transition: 0.5s ease-out opacity;
        &:hover {
            opacity: 100%;
            text-decoration: none;
        }
    }
}