<header>

    <!-- navbar -->
    {% include navbar.html %}
    <!-- navbar ends -->

    <div class="jumbotron-fluid jumbotron">
        <div class="container-fluid pl-5 pr-5">
            <div class="col-sm-12 col-md-4">
                <h3 class="display-4">
                    Home of <span>Grog</span>, <span>Geeks</span>, and <span>Gamers</span>
                </h3>
                <a href="#" class="btn gt-btn-primary">See Menu</a>
                <a href="#" class="text-link">View Gallery </a>
            </div>
        </div>
    </div>


</header>