<div id="stats-home" class="col-md-4 mx-auto pt-5">
    <div class="col-12 stat-group">
        <div class="row">
            <div class="col-4 text-center">
                <img src="/uploads/ps4.png" class="img-fluid" alt="...">
            </div>
            <div class="col-8 stats-text">
                <span class="numbers text-white">
                    268,780
                </span>
                <br>
                <small>Games played by 2,780 perople in 7 days</small>
            </div>
        </div>
    </div>
    
    <div class="col-12 stat-group">
        <div class="row">
            <div class="col-4 text-center">
                <img src="/uploads/vs.png" class="img-fluid" alt="...">
            </div>
            <div class="col-8 stats-text">
                <span class="numbers text-white">
                    300
                </span>
                <br>
                <small>Average gamers in the bar</small>
            </div>
        </div>
    </div>
</div>