<div class="container-fluid bg--dark">
    <div class="row">
        
        {% include /variables/stats.html %}
        
        <div id="quote-home" class="col-md-6 col-10 ml-auto">
            <h2 class="quote">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti, beatae voluptate, dolores quam voluptates obcaecati minima soluta eos accusantium ipsum, nesciunt non mollitia culpa? Eveniet laborum accusamus accusantium dolorem iste!
            </h2>
            <small class="mt-5">- Mike Taylor</small>
        </div>
    </div>
</div>
