<!doctype html>
<html lang="en">

{% include head.html %}

<body>

    <!-- header -->
    {% include header.html %}
    <!-- header end -->

    <section>
        
        <!-- about home -->
        {% include /pages/home/about-main.html %}
        
        <!-- food items -->
        {% include /pages/home/food-menu.html %}
        
        <!-- cta -->
        {% include /pages/home/cta-xl.html %}
        
        <!-- map -->
        {% include /variables/map-fullview.html %}
        
    </section>
    <!-- footer -->
    {% include footer.html %}
    <!-- footer -->

    <!-- scripts -->
    {% include scripts.html %}
    <!-- scripts -->

</body>

</html>